<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar style="margin-top: 10px;">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/'">Main page</a>
      <a mat-list-item [routerLink]="'/ListTalents'">List Talents</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color: #3f51b5;">
      <div style="width: 100%;">
        <span color="white">Header title goes here</span>
        <div style="float:right;"  color="white">
          <div *ngIf="loginName?.length">
            Hello {{loginName}}
            <button (click)="onDisconnectClick($event)" style="margin: left 10px;">Disconnect</button>
          </div>
          <div *ngIf="!loginName?.length">
            <button (click)="onLoginClick($event)">Login</button>
          </div>
        </div>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
    <!-- <app-main-page></app-main-page> -->
  </mat-sidenav-content>
</mat-sidenav-container>
