<h1 mat-dialog-title>Login Form</h1>
<div mat-dialog-content class="container">
    <form>
        <mat-form-field>
            <input matInput placeholder="Login" [(ngModel)]="login" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
          <!-- <mat-form-field>
            <mat-select placeholder="Select">
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2">Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
          </mat-form-field> -->
    </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button (click)="validateLogin()" cdkFocusInitial [disabled]="!loginValid">Ok</button>
</div>